<% provide(:title, 'Contact Us') %>
<h1>Contact ImmuCal Developers</h1>

<p>
	In case you would need to contact the humble ones who created this application, please feel free to write to <em>parthan.sr@freshdesk.com</em>. We would weclome any constructive feedback, suggestions and feature requests, and would try our best to keep you happy.
</p>