<% provide(:title, 'Help') %>
<h1>Help!</h1>

<p>Although this application was designed to be self intutive and simple, we would be more than happy to help if you have any difficulties. Feel free to poke us in our IRC channel #immucal or send us a tweet &amp;immucal.</p>