<% provide(:title, 'Home') %>
<h1>Welcome to ImmuCal</h1>

<p>
	ImmuCal is a smart way to view an immunization calendar for your child online and maintain it, receiving reminder alerts whenever a vaccination is due in another 30 days.
</p>

<p>
	ImmuCal keeps itself updated with the latest recommendations from IMA, and keeps you aware of the latest vaccinations that get recommended after your initial immunization calendar is generated.
</p>