<% provide(:title, 'Add a Child') %>
<h1>Add a child</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for @child do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= render 'fields', f: f %>
      <%= f.submit "Add", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
