
<aside class="span4">
  <section>
    <% if signed_in? %>
      <%= render 'shared/user_info' %>
    <% end %>
    <% if !signed_in? %>
      <span>Guest</span>
    <% end %>
  </section>
  <section>
    <%= render 'shared/stats' %>
  </section>
  <section>
    <%= render 'shared/alerts' %>
  </section>
  <% if signed_in? %>
    <section id="add_new_child">
      <%= render 'children/add_child', locals: { postmode: "ajax" } %>
    </section>
  <% end %>
</aside>
